rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcılar sadece kendi verilerine erişebilir
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Oturum açmış herhangi bir kullanıcı aşağıdaki koleksiyonları okuyabilir
    match /{collection}/{docId} {
      allow read: if request.auth != null && collection in ['sales', 'payments', 'purchases', 'paymentsToSuppliers', 'customers', 'suppliers', 'stock'];
      allow write: if request.auth != null; // Daha kısıtlayıcı kurallar eklenebilir
    }
  }
}